.Write {
    padding-top: 70px;
    display: flex;
    flex-direction: column;

    .writeHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .BackButton {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            background-color: var(--blue-color);
            width: fit-content;
            padding: 10px 20px;
            color: white;
            margin: 2px 10px;
        
            img {
                margin: 0;
                padding: 0;
                height: 20px;
                width: 20px;
                margin-right: 2px;
            }
    
            p {
                margin: 0;
                padding: 0;
                font-size: 12px;
                margin-left: 2px;
            }
    
            &:hover {
                cursor: pointer;
            }
        }

        .writeHeaderOptions {
            display: flex;
        }
    }

    

    .card {
        margin: 10px;
    }
}

.uploadedImage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    img {
        height: 50%;
        width: 200px;
    }
}

.details {
    margin: 20px 5px 10px 5px;

    .input {
        width: 100%;
    }
}

.tags {
    display: flex;
    flex-direction: column;
    margin: 0 5px;


    label {
        margin: 10px 0;
        font-size: 12px;
    }
}

.checkBox {
    margin: 10px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    p {
        margin-left: 10px;
    }
}

.btn {
    margin: 10px 0;
}