<div class="BlogContainer" *ngIf="blog">
    <div class="ImageConatiner">
        <img src={{renderBase64Image(blog.coverImage)}} alt="">
    </div>
    <div class="Others">
        <div class="UserDetails">
            <img src={{renderBase64Image(blog.user.profilePic)}} alt="">
            <div class="User">
                <p class="UserName">{{blog.user.username}}</p>
                <p>{{blog.postedDate | date }}</p>
            </div>
        </div>
        <div class="FooterSection">
            <div class="Title">
                <p>{{blog.title}}</p>
            </div>
            <ul class="TagsConatiner">
                <li class="tags" *ngFor="let tag of blog?.tags">#{{tag}}</li>
            </ul>
            <div class="Footer">
                <div class="Reactions">
                    <p>{{blog.likes}} Reactions</p>
                    <p>{{blog.comments.length}} Comments</p>
                </div>
                <div class="Details">
                    <p>{{blog.readTime}} min read</p>
                    <p>
                        <i class="pi pi-bookmark" style="color: slateblue"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>